#Force non-www:
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.hbyybh\.com [NC]
RewriteRule ^(.*)$ http://hbyybh.com/$1 [L,R=301]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
# Disable Directory Browsing
Options All -Indexes
errorDocument 403 /index.php
errorDocument 404 /index.php
errorDocument 500 /index.php
errorDocument 200 /index.php