body{direction:ltr}
#imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}


#prgs {
    display: block;
    text-align: center;
    width: 0;
    height: 3px;
    background: #971bcd;
    transition: width .3s;
    margin-top:10px
}
#prgs.hideprog {
    opacity: 0;
    filter:alpha(opacity=0);
    transition: opacity 1.3s;
}
.file-field .btn, .file-field .btn-large{right:0;margin: auto;width: 180px}
#filedrag{position: absolute;left:0;right: 0;top: 0;width: 100%;height: 180px;text-align: center;color:#2f2f2f;text-shadow:0 0 3px #ffffff}
#filedrag:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.mgleft{margin-left:10px}
ul.holder{background-color:#fff;}
